/GitIgnoreTest/.vs
/GitIgnoreTest/*.sln
/GitIgnoreTest/GitIgnoreTest/bin
/GitIgnoreTest/GitIgnoreTest/obj
/GitIgnoreTest/GitIgnoreTest/Properties
/GitIgnoreTest/GitIgnoreTest/*.config
/GitIgnoreTest/GitIgnoreTest/*.csproj